/UnrealPlugins/Intermediate
/UnrealPlugins/Plugins/FoolishGames/Intermediate
/UnrealPlugins/Plugins/Framework/Intermediate
/UnrealPlugins/Plugins/GameplayMode/Intermediate
/UnrealPlugins/Plugins/VirtualInputCore/Intermediate
/UnrealPlugins/Saved
/UnrealPlugins/Platforms
/UnrealPlugins/.idea
/UnrealPlugins/.vs
/UnrealPlugins/Binaries
/UnrealPlugins/DerivedDataCache
/UnrealPlugins/Windows
/UnrealPlugins/Plugins/FoolishClient/Intermediate
/UnrealPlugins/Plugins/FoolishClient/Binaries
/UnrealPlugins/Plugins/Framework/Binaries
/UnrealPlugins/Plugins/VirtualInputCore/Binaries
/UnrealPlugins/.vsconfig
/UnrealPlugins/Build
/UnrealPlugins/Plugins/FoolishGames/Binaries
/UnrealPlugins/Plugins/GameplayMode/Binaries
